torch==2.1.0
torchtext
torchvision
# transformer-lens
networkx
numpy
pandas
tqdm
matplotlib
scikit-learn
scipy
plotly
ipython
jupyter
pylint
autopep8
seaborn
notebook
circuitsvis
numba
sparqlwrapper
geonamescache
accelerate
geopandas
bitsandbytes
einops
datasets
